body {
  margin: 0px;
  padding: 0px;

  width: 100vw;
  height: 100vh;

  font-family: 'Quicksand', sans-serif;

  background-color: #EAEAEA;

  overflow: hidden;
}

#main {
  width: calc(100vw - 200px);
  height: 100vh;

  display: inline-block;
  float: right;
}

#header {
  width: 100%;
  height: 56px;

  margin: 0px;
  padding: 0px;
  
  border-left: 1px solid #8BC34A;
}

#sidebar {
  width: 200px;
  height: 100vh;

  margin: 0px;
  padding: 0px;

  display: inline-block;
  float: left;
}

#section {
  width: 100%;
  height: calc(100vh - 56px - 36px);

  margin: 0px;
  padding: 0px;

  background-color: #FAFAFA;

  border: 1px solid #8BC34A;
}

#footer {
  width: auto;
  height: 36px;

  background-color: #8BC34A;
  color: #FAFAFA;

  margin: 0px;
  padding: 0px;
}

.centered {
  text-align: left;
}
