doctype html
html(lang="ko")
  head
    title= Effect
    link(rel="favicon" type="image/png" href="../image/icon.ico")
    link(rel="stylesheet" href="../css/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:500")
  body
    include item/itemFile.pug
    include item/itemFolder.pug
    
    #sidebar
      | sidebar
      p
        include projectTree.pug
    #main
      #header
        include tool.pug
      #section
        include render/renderer.pug
      #footer
        include footer.pug
