+itemFolder('GUIs', 0)
+itemFile('main.gui', 1)
+itemFolder('menu', 1)
+itemFile('menu1.gui', 2)
+itemFile('menu2.gui', 2)
+itemFolder('Functions', 0)
+itemFile('explode.func', 1)
+itemFile('teleport.func', 1)
+itemFile('command.func', 1)
+itemFolder('commands', 1)
+itemFile('fire.func', 2)
+itemFile('move.func', 2)
+itemFolder('porting', 2)
+itemFile('port.func', 3)
+itemFile('set.func', 3)